/* @import url(./media.css); */
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
    }
body{
    font-family: 'Jost', sans-serif;
    color: #B0B0B0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.24;
    /* font-family: 'Roboto', sans-serif; */
}
.container {
    max-width: 1620px;
    padding: 0 53px 0 80px;
    margin: 0 auto;
}
.container--big{
    max-width: 1620px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    color: white;
}
.title{
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 13px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
/*Header*/
.header {
    background-image: url(./../img/header/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1090px;
}
.header__top {
    padding-top: 55px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
}
.logo {
    pointer-events: none;
}
.mobile__btn{
    display: none;
}
.header__nav {
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-list li:nth-child(5){
    margin-right: 25px;
}
.header__nav-item {
    transition: all 0.2s ease-in;
}
.header__nav-item + .header__nav-item{
    margin-left: 24px;
}
.header__nav-item:hover {
    animation: bounce 2s;
}
.header__nav-link {
    font-size: 20px;
    font-weight: 500;
}
.item__wrap{
    display: flex;
}
.header__top-socials {
    margin-left: 25px;
}
.header__social {
    transition: all 0.2s ease-in;
}
.header__top-social + .header__top-social{
    margin-left: 20px;
}
.header__social ellipse{
    transition: all 0.2s ease-in;
}
.header__social:hover ellipse{
    fill: #8253D8;
}
.header__social path{
    transition: all 0.2s ease-in;
}
.header__social:hover path{
    fill: white;
}
.social {
}
/*Header content*/
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.header__content-text {
    color: #FFF;
}
.header__content-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 14px;
    max-width: 550px;
    text-transform: uppercase;
}
.header__content-subtitle {
    font-size: 20px;
    margin-bottom: 44px;
    max-width: 560px;
}
.header__btn {
    display: flex;
    align-items: center;
    gap: 21px;
}
.btn {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #FFF;
    font-size: 17px;
    font-weight: 700;
    column-gap: 5px;
    min-height: 53px;
    transition: all 0.2s ease-in;
}
.btn--first{
    padding: 10px 36px 13px 40px;
}
.btn--second{
    padding: 12px 22px 12px 26px;
}
.btn:hover{
    background-color: white;
    color: #8253D8;
}
.btn path{
    transition: all 0.2s ease-in;
}
.btn:hover path{
    fill: #8253D8;
}
.header__img-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* pointer-events: none; */
}
/*Functional*/

.functional {
    padding-top: 50px;
    padding-bottom: 74px;
}
.functional__title {
    color: #000;
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 23px;
    text-align: center;
}
.functional__subtitle {
    text-align: center;
    margin: 0 auto;
    max-width: 424px;
    margin-bottom: 101px;
    color: #ABABAB;
    font-size: 18px;
    letter-spacing: 1.44px;
}
.functional__wrap {
    display: flex;
    align-items: center;
    column-gap: 88px;
}
.functional__list {
    max-width: 440px;
}
.finctional__list-item {
    display: flex;
    align-items: center;
    gap: 26px;
    text-align: right;
}
.finctional__list-item+ .finctional__list-item{
    padding-top: 174px;
}
.functional__list-text {
}
.functional-title {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 11px;
}
.functional__list-subtitle{
}
.functional__item-img {
    width: 90px;
    height: 90px;
    pointer-events: none;
}
.functional__img {
    pointer-events: none;
}
.functional__list-itemR{
    display: flex;
    align-items: center;
    gap: 26px;
    text-align: left;
}
.functional__list-itemR + .functional__list-itemR{
    padding-top: 174px;
}
/*Footer*/
.footer {
    background-image: url(./../img/footer/linear.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 523px;
    margin-top: 139px;
    color: white;
}
.footer__wrap {
    padding-top: 184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 84px;
    border-bottom: solid 1px white;
}
.about {
    max-width: 518px;
}
.about__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 13px;
}
.about__subtitle {
}
.contacts {
    max-width: 315px;
}
.contacts__email {
    display: inline-block;
    margin-bottom: 14px;
}
.contacts__tel {
}
.social-media {
}
.social-media__item {
    padding-right: 26px;
}
.social-media__item:nth-child(4){
    padding-right: 0;
}
.app {
    padding-top: 48px;
    padding-bottom: 39px;
    text-align: center;
}

@media (max-width: 1200px)
{
    .header__nav-list {
        display: none;
    }
    .mobile__btn{
        display: block;
    }
    .header__nav-item + .header__nav-item{
        margin-left: 0;
    }
    .header__top-social + .header__top-social{
        margin-left: 0;
    }
    .header__social svg{
        width: 50px;
        height: 50px;
    }
    .item__wrap{
        column-gap: 20px;
    }
    .header__nav.open .header__nav-list{
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #8253D8;
        padding: 46px 30px;
        row-gap: 60px;
    }
    .header__nav-link {
        font-weight: 500;
        font-size: 30px;
    }
    .mobile__btn{
        position: fixed;
        z-index: 10;
        top: 46px;
        right: 30px;
    }
}
@media (min-width : 320px) and (max-width : 480px){
    .container {
        max-width: 345px;
        padding: 0 5px;
        margin: 0 auto;
    }
    .container--big{
        max-width: 345px;
        padding: 0 5px;
        margin: 0 auto;
    }
    .header{
        background-image: url(./../img/mobile/bg.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .header__top{
        padding-top: 22px;
        padding-bottom: 37px;
    }
    .header__content{
        display: flex;
        flex-direction: column;
        max-width: 371px;
        padding-top: 0;
    }
    .header__content-title{
        text-align: center;
        font-size: 28px;
        margin-bottom: 9px;
    }
    .header__content-subtitle{
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    .header__btn {
        display: flex;
        flex-direction: column;
    }
    .header__btn{
        margin-bottom: 31px;
    }
    .mobile__btn{
        top: 22px;
    }
    .functional{
        padding-bottom: 51px;
    }
    .functional__title{
        font-size: 36px;
        margin-bottom: 8px;
    }
    .functional__subtitle{
        width: 339px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .functional__wrap{
        display: flex;
        flex-direction: column;
    }
    .functional__list{
        max-width: 337px;
    }
    .finctional__list-item{
        display: flex;
        flex-direction: row-reverse;
    }
    .functional-title{
        font-size: 18px;
        margin-bottom: 3px;
        text-align: start;
    }
    .functional__list-subtitle{
        font-size: 14px;
        text-align: start;
    }
    .functional__item-img{
        width: 60px;
        height: 60px;
    }
    .finctional__list-item+ .finctional__list-item {
        padding-top: 33px;
    }
    .functional__img{
        width: 283px;
        height: 573;
        object-fit: cover;
        padding-top: 55px;
        margin-bottom: 51px;
    }
    .functional__list-itemR + .functional__list-itemR {
        padding-top: 33px;
    }
    .footer{
        margin-top: 0;
        background-image: url(./../img/mobile/footer_bg.png);
        background-position: top;
    }
    .footer__wrap{
        padding-top: 206px;
        display: flex;
        flex-direction: column;
        padding-bottom: 57px;
    }
    .about__title{
        font-size: 22px;
        margin-bottom: 6px;
    }
    .about__subtitle{
        font-size: 14px;
    }
    .contacts{
        max-width: unset;
    }
    .contacts__title{
        font-size: 22px;
        margin-bottom: 6px;
        padding-top: 32px;
    }
    .contacts__email{
        margin-bottom: 10px;
        font-size: 14px;
    }
    .contacts__tel{
        display: block;
        font-size: 14px;
        margin-bottom: 28px;
    }
    .social-media {
        margin-right: auto;
    }
    .social__title{
        font-size: 22px;
    }
    .social-media__item {
        padding-right: 6px;
    }
    .social-media__item img{
        width: 35px;
        height: 32px;
        object-fit: cover;
    }
    .app{
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
@media (min-width : 481px) and (max-width : 767px){
    .container {
        max-width: 450px;
        padding: 0 10px;
    }
    .container--big{
        max-width: 450px;
        padding: 0 5px; 
    }
    .header{
    }
    .header__top{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .mobile__btn{
        top: 20px;
    }
    .header__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__content-title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
    }
    .header__content-subtitle{
        font-size: 14px;
        text-align: center;
        margin-bottom: 15px;
    }
    .header__btn{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .header__content-img{
        padding-top: 15px;
    }
    .header__img-mobile{
        width: 350px;
    }
    .functional {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .functional__title {
        font-size: 30px;
        margin-bottom: 10px;

    }
    .functional__subtitle{
        font-size: 14px;
        margin-bottom: 70px;
    }
    .functional__wrap {
        display: flex;
        flex-direction: column;
    }
    .finctional__list-item{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        text-align: start;
    }
    .functional-title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .functional__list-subtitle {
        font-size: 14px;
    }
    .functional__item-img{
        width: 70px;
        height: 70px;
    }
    .finctional__list-item+ .finctional__list-item {
        padding-top: 70px;
    }
    .functional__img{
        padding-top: 50px;
        padding-bottom: 50px;
        width: 300px;
    }
    .functional__list-itemR + .functional__list-itemR {
        padding-top: 70px;
    }
    .footer{
        margin-top: 50px;
        background-position: inherit;
    }
    .footer__wrap{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .about{
        margin-right: auto;
    }
    .about__title{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .about__subtitle{
        font-size: 14px;
    }
    .contacts{
        margin-right: auto;
    }
    .contacts__title{
        font-size: 22px;
        margin-bottom: 10px;
        padding-top: 32px;
    }
    .contacts__email{
        margin-bottom: 10px;
        font-size: 14px;
    }
    .contacts__tel{
        display: block;
        font-size: 14px;
        margin-bottom: 28px;
    }
    .social-media {
        margin-right: auto;
    }
    .social__title{
        font-size: 22px;
    }
    .social-media__item {
        padding-right: 10px;
    }
    .social-media__item img{
        width: 35px;
        height: 32px;
        object-fit: cover;
    }
    .app{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 930px){
    .container {
        padding: 0 30px 0 30px;
    }
    .header{
        height: 90vh;
        background-position: initial;
    }
    .header__content-text{
        max-width: 390px;
    }
    .header__content-title{
        font-size: 27px;
        margin-bottom: 5px;
    }
    .header__content-subtitle{
        font-size: 15px;
    }
    .header__btn{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__img-mobile{
        width: 271px;
        height: 325px;
    }
    .header__content-img {
        width: 300px;
    }
    .functional{
        padding-top: 0;
        padding-bottom: 0;
    }
    .functional__title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .functional__subtitle{
        font-size: 14px;
        margin-bottom: 70px;
    }
    .functional__wrap{
        display: flex;
        flex-direction: column;
    }
    .finctional__list-item{
        display: flex;
        flex-direction: row-reverse;
    }
    .functional-title {
        font-size: 18px;
        text-align: start;
    }
    .functional__list-subtitle {
        text-align: start;
        font-size: 14px;
    }
    .functional__item-img {
        width: 70px;
        height: 70px;
    }
    .finctional__list-item+ .finctional__list-item {
        padding-top: 70px;
    }
    .functional__img {
        padding-top: 50px;
        margin-bottom: 50px;
        width: 270px;
    }
    .functional__list-itemR + .functional__list-itemR {
        padding-top: 70px;
    }
    .footer{
        margin-top: 85px;
        min-height: 480px;
    }
    .footer__wrap{
        align-items: unset;
        padding-bottom: 55px;
    }
    .about{
        max-width: unset;
        width: 270px;
    }
    .about__title {
        font-size: 22px;
    }
    .about__subtitle {
        font-size: 15px;
    }
    .contacts {
        max-width: 275px;
    }
    .contacts__title{
        font-size: 22px;
    }
    .contacts__email{
        font-size: 15px;
    }
    .contacts__tel{
        font-size: 15px;
    }
    .social__title{
        font-size: 22px;
    }
    .social-media__item img{
        width: 35px;
        height: 35px;
    }
    .app{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (min-width: 930px) and (max-width: 1230px){
    .header{
        height: 120vh;
    }
    .header__top {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .header__content {
        column-gap: 40px;
    }
    .header__content-title {
        font-size: 30px;
        margin-bottom: 12px;
    }
    .header__content-subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .header__btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .functional{
        padding-bottom: 0;
    }
    .functional__title {
        font-size: 26px;
        margin-bottom: 15px;
    }
    .functional__subtitle {
        margin-bottom: 70px;
        font-size: 14px;
    }
    .functional__img{
        width: 300px;
    }
    .functional-title {
        font-size: 16px;
        margin-bottom: 11px;
    }
    .functional__wrap {
        column-gap: 25px;
    }
    .finctional__list-item {
        gap: 15px;
    }
    .functional__list-itemR{
        gap: 15px;
    }
    .functional__list-subtitle {
        font-size: 14px;
    }
    .functional__item-img {
        width: 60px;
        height: 60px;
    }
    .footer{
        margin-top: 80px;
        min-height: 462px;
    }
    .footer__wrap{
        align-items: unset;
        padding-bottom: 50px;
    }
    .about__title{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .contacts__title{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .social__title{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .about{
        max-width: unset;
        width: 350px;
    }
    .about__subtitle{
        font-size: 14px;
    }
    .contacts {
        max-width: unset;
        width: 230px;
    }
    .contacts__email{
        font-size: 14px;
    }
    .contacts__tel{
        font-size: 14px;
    }
    .social-media__item img{
        width: 40px;
        height: 40px;
    }
    .social-media__item {
        padding-right: 15px;
    }
    .app {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
@media (min-width: 1230px) and (max-width: 1400px)
{
    .functional__wrap {
        column-gap: 40px;
    }
}
@media (min-width: 2000px)
{
    .header{
        height: unset;
        min-height: 130vh;
    }
}