@media (max-width: 1230px)
{
    .header__nav-list {
        display: none !important;
    }
    .mobile__btn{
        display: block !important;
    }
    .header__nav-item + .header__nav-item{
        margin-left: 0 !important;
    }
    .header__nav.open .header__nav-list{
        display: block !important;
        flex-direction: column;
        position: fixed;
        /* align-items: flex-start; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #8253D8;
        padding: 46px 30px;
        row-gap: 40px;

        font-weight: 600;
        font-size: 34px;
        line-height: 51px;
    }
}